<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="fragments/layout :: header"></nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Your shoppingOrders</h3>
            </div>
        </div>
        <hr>
        <div class="row order-tabs">
            <div class="col-12">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#pending-shoppingOrders">Pending Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#delivered-shoppingOrders">Delivered Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#returned-shoppingOrders">Returned Orders</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="pending-shoppingOrders">
            <div class="container">
                <div class="shopping-order-card" th:each="shoppingOrder : ${pendingOrders}" th:object="${shoppingOrder}">
                    <div class="row">
                        <div class="col-8">
                            <h4>Order from <span class="text-muted" th:text="*{seller.name}"></span></h4>
                            <p>Order status: <span th:text="*{orderStatus.status}"></span></p>
                        </div>
                        <div class="col-4">
                            <form th:action="@{/marketplace/orders/{id}/cancel(id=*{id})}" method="post" th:if="*{orderStatus.status.equals('PENDING')}">
                                <input type="submit" class="btn btn-danger float-right btn-lg" value="Cancel">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>Products</h4>
                        </div>
                    </div>
                    <div class="row" th:each="item : ${shoppingOrder.items}" th:object="${item}">
                        <div class="col-12">
                            <hr>
                            <a th:href="@{/marketplace/products/{id}(id=*{product.id})}" th:text="*{product.name}"></a>
                            <p><span th:text="*{quantity}"></span> units</p>
                            <p>$<span th:text="*{product.price}"></span>/unit</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>Total: $<span th:text="*{price}"></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="delivered-shoppingOrders">
            <div class="container">
                <div class="row" th:each="order : ${deliveredOrders}" th:object="${order}" >
                    <div class="col-2">
                        <p>From <span th:text="*{seller.name}"></span></p>
                    </div>
                    <div class="col-6"><span th:text="*{items.size()}"></span> items in this order</div>
                    <div class="col-2">$<span th:text="*{price}"></span></div>
                    <div class="col-2">
                        <a th:href="@{/marketplace/orders/{id}/receipt(id=*{id})}" target="_blank">View receipt</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="returned-shoppingOrders">
            <div class="container">
                <div class="row" th:each="order : ${returnedOrders}" th:object="${order}" >
                    <div class="col-3">
                        <p>From <span th:text="*{seller.name}"></span></p>
                    </div>
                    <div class="col-6"><span th:text="*{items.size()}"></span> items in this order</div>
                    <div class="col-3">$<span th:text="*{price}"></span></div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>
