<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments/layout :: header"></header>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <form th:replace="users/user-form :: form(@{/register}, ${user})">

                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>