<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
</head>
<body>
    <form th:fragment="form(action, product)" th:action="${action}" method="post" th:object="${product}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" th:field="*{description}" id="description"></textarea>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" th:field="*{quantity}" id="quantity">
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" th:field="*{price}" id="price" step="0.01">
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" th:field="*{category}" id="category">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="image">Product image</label>
            <input type="file" class="form-control" name="image" th:field="*{image}" />
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <input type="submit" class="btn btn-primary float-right" value="Save product">
    </form>
</body>
</html>