<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid" th:fragment="productList(products)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3" th:each="product : ${products}" th:object="${product}">
                    <div class="card">
                        <img th:if="*{image == null}" class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
                        <img th:if="*{image}" class="card-img-top" th:src="@{/uploads/images/{name}(name = *{image})}" width="200" height="200"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{name}"></h5>
                            <p class="card-text text-muted" th:text="*{description}"></p>
                            <p th:if="*{quantity eq 0}" class="text-danger text-sm-center">Out of stock</p>
                            <p th:if="*{quantity gt 0}" class="text-primary text-sm-center" th:text="*{quantity} + ' units available'"></p>
                            <p><strong>Sold by <span th:text="*{seller.name}"></span></strong></p>
                            <a th:href="@{/marketplace/products/{id}(id=*{id})}" class="btn btn-outline-primary">Visit product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>